body {
  background-color: white;
}

h1 {
  color:red;
  text-align: center;
  font-size: 40px;
  text-decoration: underline;
}

p {
  font-family: verdana;
  font-size: 15px;
  color: grey;
}

div {
  font-family: consolas;
  display:inline-block;
  border: dotted black;
  min-width: 100%;
}

div1 {
  display:inline-block;
  border:1px solid red;
  min-width: 100%;
}